<%inherit file="../base.html"/>
<%namespace name="defs" file="../defs.html"/>

<%block name="content">

<p>
    Just 3 more sleeps! PyConZA is starting this Thursday.
</p>

<h2>Tickets</h2>

<p>
    We still have tickets available. And because we think you are nice, we decided to keep things at our early bird prices. So if you haven't yet got one, now would be good :)
</p>

${defs.call_to_action(href='https://za.pycon.org/tickets/buy-tickets/',label='Buy tickets')}

<h2>Claim your swag</h2>

<p>
    We have mugs, stickers and t-shirts for you.
</p>

${defs.call_to_action(href='https://za.pycon.org/news/mugs/',label='Claim your swag')}

<h2>The schedule</h2>

<p>
    The conference will run from 12:00 to 18:00 on both Thursday and Friday. Take a look at the schedule, there are some really amazing talks lined up.
</p>

${defs.call_to_action(href='https://za.pycon.org/schedule/',label='View the schedule')}

<p>
    If you want to be able to keep track of the conference on your mobile device then we have a few options to choose from.
</p>

${defs.call_to_action(href='https://za.pycon.org/talks/mobile-friendly-schedule/',label='Schedule apps')}

<h2>How to join the conference</h2>

<p>
    The conference itself will be on Discord. We will share links to the different talks from there. We'll send you info on how to join our Discord server before the event.
</p>

</%block>
