<%inherit file="../base.html"/>
<%namespace name="defs" file="../defs.html"/>

<%block name="content">
<p>
    Today is the first day of PyConZA 2021! Woot! Here's everything you need to know:
</p>

<h2>We have amazing sponsors</h2>
<p>
    We wouldn't be able to pull this off without our sponsors. Thank you to all involved!
</p>

<h3>Introducing SPAN Digital!</h3>

<p>
    SPAN Digital, a global technical strategy, and software engineering firm, and one of PyConZA’s Gold sponsors this year!
</p>
<p>
    They work with both global brands and start-ups to conceptualize, develop, and deploy successful SaaS solutions. Based in San Francisco and Cape Town, they are a fast-paced, action-oriented team that thrives on collaboration and leveraging cross-functional expertise. They weave strategy, software development, and design together in an iterative, interdisciplinary approach that emphasizes engineering excellence and predictable delivery of tangible business value.
</p>
<p>
    "SPAN is proud to be a sponsor of this year’s PyConZA Conference. We are excited to be associated with the PyConZA conference since our company has experienced growth and success using Python in developing dynamic customer solutions. Every year, we look forward to PyConZA where the SPAN team can learn more about what’s ahead and how we can continue to leverage Python in innovative ways for our client projects." — SPAN Cape Town, Managing Director, Ingrid Vorster
</p>
<p>
    SPAN’s engineers and technologists are among the attendees at this, the 10th annual PyConZA.
</p>
<p>
    Python is one of the essential languages used by SPAN’s engineers to help its clients develop
    dynamic solutions — from prototypes to product enhancements and new features. SPAN has
    leveraged Python extensively in a variety of ways including content management systems, data
    science, big data, ETL, and data warehousing for clients across various industries from digital
    media to healthcare to location-based services.
</p>
<p>
    You can find them at https://www.spandigital.com, and look out for their engineers among your fellow attendees!
</p>

${defs.call_to_action(href='https://www.spandigital.com',label='Visit Span Digital')}


<h2>How to join the conference</h2>
<p>
    The conference officially starts at 12:00 but we suggest you try to join Discord a little bit earlier so that you can take part in the hallway track.
</p>

${defs.call_to_action(href='https://za.pycon.org/venue/discord/',label='Join our Discord server')}

<p>
    The talks will be presented a little differently from last year - we'll be streaming the talks to YouTube so you will be able to watch them there; and we'll be handling audience Q&A via Discord.
</p>

<p>
    Links to the talk streams will be shared on Discord and via email.
</p>

<h2>Lightning talks</h2>
<p>
    Lightning talks are a space to give a short (strictly less than 5 minutes) talk to the whole conference. They're often funny, slightly strange, or informative. If you are new to talking at conferences then this is a way to stretch yourself.
</p>
<p>
    If you have something you are keen to talk about then please get in touch on Discord on the #helpdesk channel; or by emailing team@za.pycon.org.
</p>

<h2>Sprints</h2>
<p>
    If you are keen to hang out and build stuff then the sprints are for you.
</p>
<p>
    What stuff do we build? Well, that's largely up to you. If you have something cool you are working on, or would like to work on, then please get in touch with us on #helpdesk so we can advertise your sprint topic.
</p>
<p>
    The sprints are taking place in Discord on Saturday and Sunday (9 & 10 October) on the same Discord server we're using for the main conference. And you don't need a PyConZA ticket to attend, tell your friends.
</p>

<h2>Code of conduct</h2>

<p>
    We have a code of conduct. It can be summarized as: be nice and respectful. People are joining this conference because the community rocks, and because they want to learn things. Think wholesome thoughts and you'll do fine :)
</p>
<p>
    If you see or experience a problem, don't hesitate to let us know! You have a few options here:
</p>

<ul>
    <li>Direct message anyone with the @organizer role on Discord</li>
    <li>You can email <a href="mailto:conduct@za.pycon.org">conduct@za.pycon.org</a></li>
</ul>

${defs.call_to_action(href='https://za.pycon.org/about/code-conduct/',label='See full code of conduct')}

<h2>How to Discord</h2>

<p>
    Everybody loves a good hallway track. Ours is happening on Discord. If you want to be a part of the conversation then please follow the instructions below:
</p>

${defs.call_to_action(href='https://za.pycon.org/venue/discord/',label='How to access Discord')}


<h2>Everything</h2>

<p>
    Ok, that's a whole lotta info. For a more in depth and complete view of all the things, please visit our site:
</p>

${defs.call_to_action(href='https://za.pycon.org/venue/howto/',label='Conference how to')}
${defs.call_to_action(href='https://za.pycon.org/venue/speaker-howto/',label='Speaker how to')}

</%block>
