<%inherit file="../base.html"/>
<%namespace name="defs" file="../defs.html"/>

<%block name="content">

<h2>Welcome to PyConZA 2021 day 1</h2>



<table cellspacing="1" cellpadding="0"  style="margin-bottom: 2em; border-collapse: collapse;"   >

    <tbody>

        <tr>
            <td colspan="3">
                <p>You can take part in the talk discussions and Q&A on Discord. If you have any questions about how to join the conference, we sent you those details in a separate email.</p>

                <p>It's possible that some of you are not keen on joining Discord and just want to watch the talks. Here are the talk links:</p>
            </td>
        </tr>
    </tr>
      <tr>
        <td cellspacing="1" cellpadding="0"  style="margin-bottom: 2em; border-collapse: collapse;"   class="scheduleslot">12:00 - 12:30</td>
        <td style="border: 1px solid #cccccf; padding: 8px;" colspan="2" rowspan="1" class="schedule">
            <a href="https://za.pycon.org/news/welcome/">Welcome</a>
            <br/><a href="https://www.youtube.com/watch?v=RLpiYVvX3Sg">Watch on Youtube</a>
            </td>
      </tr>
      <tr>
        <td style="border: 1px solid #cccccf; padding: 8px;" class="scheduleslot">12:30 - 13:30</td>
        <td style="border: 1px solid #cccccf; padding: 8px;" colspan="2" rowspan="1" class="schedule talk-type-keynote track-data-science">
        <a href="https://za.pycon.org/talks/15-you-dont-need-ai-you-need-to-know-what-your-data-is/">You don't need AI; You need to know what your data is.</a>
        <br/>
        by Jade Abbott
        <br/><a href="https://www.youtube.com/watch?v=VbxEexY0-0s">Watch on Youtube</a>
        </td>
      </tr>

      <tr>
        <td style="border: 1px solid #cccccf; padding: 8px;" class="scheduleslot">13:30 - 13:45</td>
            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="2" rowspan="1" class="schedule-break">
            <a href="https://za.pycon.org/news/break/">Break</a>
        </td>
      </tr>

      <tr>
        <td style="border: 1px solid #cccccf; padding: 8px;" class="scheduleslot">13:45 - 14:30</td>
            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="1" rowspan="1" class="schedule talk-type-talk track-other">
                <a href="https://za.pycon.org/talks/21-efficient-data-handling-techniques-in-python-for-oracle-database/">Efficient Data Handling Techniques in Python for Oracle Database</a>
                <br/>
                by Christopher Jones
                <br/>
                    <a href="https://www.youtube.com/watch?v=S4vaAGrb-Jk">Watch on Youtube</a>
            </td>
            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="1" rowspan="1" class="schedule talk-type-talk track-data-science">


                <a href="https://za.pycon.org/talks/37-building-machine-learning-demos-with-python/">Building Machine Learning demos with Python</a>
                <br/>
                by Omar Sanseviero
                <br/>
                <a href="https://www.youtube.com/watch?v=IINmkeUv4A8">Watch on Youtube</a>

            </td>

      </tr>

      <tr>
        <td style="border: 1px solid #cccccf; padding: 8px;" class="scheduleslot">14:30 - 15:15</td>



            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="1" rowspan="1" class="schedule talk-type-talk track-data-science">


<a href="https://za.pycon.org/talks/34-developing-feasible-scenarios-for-bioenergy-production-in-south-africa-with-python/">Developing Feasible Scenarios for bioenergy production in South Africa with Python</a>
<br/>
by Hayden Wilson
<br/><a href="https://www.youtube.com/watch?v=zE2SosS7kFA">Watch on Youtube</a>


            </td>




            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="1" rowspan="1" class="schedule talk-type-talk track-web">


<a href="https://za.pycon.org/talks/1-shopyo-your-mega-machine-for-flask/">Shopyo: Your Mega Machine For Flask</a>
<br/>
by Abdur-RahmaanJ
<br/>
<a href="https://www.youtube.com/watch?v=W4Gmc8q42YA">Watch on Youtube</a>

            </td>


      </tr>

      <tr>
        <td style="border: 1px solid #cccccf; padding: 8px;" class="scheduleslot">15:15 - 15:20</td>



            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="2" rowspan="1" class="schedule talk-type-sponsor-talk track-other">


<a href="https://za.pycon.org/talks/40-retries-and-circuitbreakers-in-takealot-microservices/">Retries and Circuitbreakers in Takealot microservices</a>
<br/>
by Johan Beyers
<br/><a href="https://www.youtube.com/watch?v=iHLA-4jSZJU">Watch on Youtube</a>


            </td>


      </tr>

      <tr>
        <td style="border: 1px solid #cccccf; padding: 8px;" class="scheduleslot">15:20 - 15:45</td>



            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="2" rowspan="1" class="schedule-break">

<a href="https://za.pycon.org/news/break/">Break</a>



            </td>


      </tr>

      <tr>
        <td style="border: 1px solid #cccccf; padding: 8px;" class="scheduleslot">15:45 - 16:30</td>



            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="1" rowspan="1" class="schedule talk-type-talk track-other">


<a href="https://za.pycon.org/talks/5-build-your-first-cyber-forensic-application-using-python/">Build Your First Cyber Forensic Application using Python</a>
<br/>
by Gajendra Deshpande
<br/><a href="https://www.youtube.com/watch?v=apptwN2Gk9g">Watch on Youtube</a>


            </td>




            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="1" rowspan="1" class="schedule talk-type-talk track-teaching-and-learning-with-python">


<a href="https://za.pycon.org/talks/19-the-loop-of-joy-helping-kids-and-grown-ups-enjoy-code-adventures/">The loop of Joy: helping kids (and grown-ups) enjoy code adventures</a>
<br/>
by David Campey
<br/>
<a href="https://www.youtube.com/watch?v=sH4NvrxalWg">Watch on Youtube</a>

            </td>


      </tr>

      <tr>
        <td style="border: 1px solid #cccccf; padding: 8px;" class="scheduleslot">16:30 - 17:15</td>



            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="1" rowspan="1" class="schedule talk-type-talk track-data-science">


<a href="https://za.pycon.org/talks/30-python-mariadb-a-match/">Python &amp; MariaDB: A Match?</a>
<br/>
by Kaj Arnö
<br/><a href="https://www.youtube.com/watch?v=zo4HlSkPWKQ">Watch on Youtube</a>


            </td>




            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="1" rowspan="1" class="schedule talk-type-talk track-web">


<a href="https://za.pycon.org/talks/24-django-rest-framework-3-redux/">Django Rest Framework &lt;3 Redux</a>
<br/>
by Sheena O'Connell
<br/>
<a href="https://www.youtube.com/watch?v=qDQj5XTj8lQ">Watch on Youtube</a>

            </td>


      </tr>

      <tr>
        <td style="border: 1px solid #cccccf; padding: 8px;" class="scheduleslot">17:15 - 17:25</td>



            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="2" rowspan="1" class="schedule-break">

<a href="https://za.pycon.org/news/break/">Break</a>



            </td>


      </tr>

      <tr>
        <td style="border: 1px solid #cccccf; padding: 8px;" class="scheduleslot">17:25 - 18:10</td>



            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="2" rowspan="1" class="schedule">

<a href="https://za.pycon.org/talks/lightning-talks/">Lightning Talks</a>

<br/><a href="https://www.youtube.com/watch?v=lwRB4NlhTg8">Watch on Youtube</a>

            </td>


      </tr>

  </tbody>
</table>

</%block>
