<%inherit file="../base.html"/>
<%namespace name="defs" file="../defs.html"/>

<%block name="content">

<h2>Welcome to PyConZA 2021 day 2</h2>



<table cellspacing="1" cellpadding="0"  style="margin-bottom: 2em; border-collapse: collapse;"  >

    <tbody>

        <tr>
            <td  colspan="3">
                <p>You can take part in the talk discussions and Q&A on Discord. If you have any questions about how to join the conference, we sent you those details in a separate email.</p>

                <p>It's possible that some of you are not keen on joining Discord and just want to watch the talks. Here are the talk links:</p>

            </td>
        </tr>

      <tr>
        <td style="border: 1px solid #cccccf; padding: 8px;" class="scheduleslot">11:30 - 11:45</td>



            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="2" rowspan="1" class="schedule">

<a href="https://za.pycon.org/news/day-2-welcome/">Welcome to Day 2</a>
<br/><a href="https://www.youtube.com/watch?v=dj5lOaXatYE">Watch on Youtube</a>



            </td>


      </tr>

      <tr>
        <td style="border: 1px solid #cccccf; padding: 8px;" class="scheduleslot">11:45 - 12:30</td>



            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="2" rowspan="1" class="schedule talk-type-talk track-testing">


<a href="https://za.pycon.org/talks/25-learning-to-speak-a-common-language-with-bdd-and-pickled-cucumbers/">Learning to speak a common language with BDD and pickled cucumbers</a>
<br>
by Richard Landers
<br/><a href="https://www.youtube.com/watch?v=MFFZO4LxXXs">Watch on Youtube</a>


            </td>

      </tr>

      <tr>
        <td style="border: 1px solid #cccccf; padding: 8px;" class="scheduleslot">12:30 - 13:30</td>



            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="2" rowspan="1" class="schedule talk-type-panel track-teaching-and-learning-with-python">


<a href="https://za.pycon.org/talks/32-panel-discussion-educating-coders/">Panel Discussion: Educating coders</a>
<br>
by Sheena O'Connell
<br/><a href="https://www.youtube.com/watch?v=fAN59LnOnM8">Watch on Youtube</a>


            </td>


      </tr>

      <tr>
        <td style="border: 1px solid #cccccf; padding: 8px;" class="scheduleslot">13:30 - 13:45</td>



            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="2" rowspan="1" class="schedule-break">

<a href="https://za.pycon.org/news/break/">Break</a>



            </td>


      </tr>

      <tr>
        <td style="border: 1px solid #cccccf; padding: 8px;" class="scheduleslot">13:45 - 14:30</td>



            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="1" rowspan="1" class="schedule talk-type-talk track-infrastructure-devops">


<a href="https://za.pycon.org/talks/18-introducing-pipservices-a-new-open-source-toolkit-for-enterprise-level-microservice-creation/">Introducing PIP.Services, a new open-source toolkit for enterprise-level microservice creation.</a>
<br>
by Eugenio Andrieu
<br/><a href="https://www.youtube.com/watch?v=e0izk4yeDy8">Watch on Youtube</a>


            </td>




            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="1" rowspan="1" class="schedule talk-type-talk track-data-science">


<a href="https://za.pycon.org/talks/16-moving-in-sync-self-supervised-learning-of-n-human-interactions/">Moving in Sync: Self-supervised learning of n-human interactions</a>
<br>
by sonalsan
<br/><a href="https://www.youtube.com/watch?v=tWqnd3J_dqw">Watch on Youtube</a>


            </td>


      </tr>

      <tr>
        <td style="border: 1px solid #cccccf; padding: 8px;" class="scheduleslot">14:30 - 15:15</td>



            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="1" rowspan="1" class="schedule talk-type-talk track-other">


<a href="https://za.pycon.org/talks/35-optimize-your-database-operations-with-asynchronous-processing/">Optimize Your Database Operations with Asynchronous Processing</a>
<br>
by Radical Rakhman Wahid
<br/><a href="https://www.youtube.com/watch?v=LMawk5cBSUU">Watch on Youtube</a>


            </td>




            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="1" rowspan="1" class="schedule talk-type-talk track-other">


<a href="https://za.pycon.org/talks/23-machine-learning-lifecycle-made-easy-with-mlflow/">Machine Learning Lifecycle Made Easy with MLflow</a>
<br>
by Karishma Babbar &amp; Kalyan Munjuluri
<br/><a href="https://www.youtube.com/watch?v=nZ0QB2hXALs">Watch on Youtube</a>


            </td>


      </tr>

      <tr>
        <td style="border: 1px solid #cccccf; padding: 8px;" class="scheduleslot">15:15 - 15:20</td>



            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="2" rowspan="1" class="schedule-placeholder">

<a href="https://za.pycon.org/talks/schedule/placeholder/">Sponsor talk</a>



            </td>


      </tr>

      <tr>
        <td style="border: 1px solid #cccccf; padding: 8px;" class="scheduleslot">15:20 - 15:45</td>



            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="2" rowspan="1" class="schedule-break">

<a href="https://za.pycon.org/news/break/">Break</a>



            </td>


      </tr>

      <tr>
        <td style="border: 1px solid #cccccf; padding: 8px;" class="scheduleslot">15:45 - 16:30</td>



            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="1" rowspan="1" class="schedule talk-type-talk track-teaching-and-learning-with-python">


<a href="https://za.pycon.org/talks/14-building-a-self-watering-plant-using-micropython-on-a-wifi-enabled-arduino-esp8266/">Building a self-watering plant using Micropython on a WiFi-enabled Arduino ESP8266</a>
<br>
by Anele Makhaba &amp; Mpho Mphego

<br/><a href="https://www.youtube.com/watch?v=FaAYJ9jucco">Watch on Youtube</a>

            </td>




            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="1" rowspan="1" class="schedule talk-type-talk track-data-science">


<a href="https://za.pycon.org/talks/3-build-interactive-python-dashboards-using-explainerdashboard/">Build interactive Python dashboards using ExplainerDashBoard</a>
<br>
by Harsh Bardhan Mishra

<br/> Cancelled :(
            </td>


      </tr>

      <tr>
        <td style="border: 1px solid #cccccf; padding: 8px;" class="scheduleslot">16:30 - 17:15</td>



            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="1" rowspan="1" class="schedule talk-type-talk track-teaching-and-learning-with-python">


<a href="https://za.pycon.org/talks/20-getting-to-intermediate/">Getting to Intermediate</a>
<br>
by John Ouellette
<br/><a href="https://www.youtube.com/watch?v=GMzgvpNyUL0">Watch on Youtube</a>


            </td>




            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="1" rowspan="1" class="schedule talk-type-talk track-other">


<a href="https://za.pycon.org/talks/27-fishfingers-and-custard-an-openstack-and-k8s-story/">Fishfingers and Custard: An OpenStack and K8s Story</a>
<br>
by Kendall Nelson
<br/><a href="https://www.youtube.com/watch?v=v3cbX2C4fdc">Watch on Youtube</a>


            </td>


      </tr>

      <tr>
        <td style="border: 1px solid #cccccf; padding: 8px;" class="scheduleslot">17:15 - 17:25</td>



            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="2" rowspan="1" class="schedule-break">

<a href="https://za.pycon.org/news/break/">Break</a>



            </td>


      </tr>

      <tr>
        <td style="border: 1px solid #cccccf; padding: 8px;" class="scheduleslot">17:25 - 18:25</td>



            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="2" rowspan="1" class="schedule talk-type-keynote track-data-science">


<a href="https://za.pycon.org/talks/28-earth-observation-for-data-science-how-we-can-automate-climate-change-assessment-from-above/">Earth Observation for Data Science: How we can Automate Climate Change Assessment from Above</a>
<br>
by Thomas Y. Chen
<br/><a href="https://www.youtube.com/watch?v=WQe6UJeChgM">Watch on Youtube</a>


            </td>


      </tr>

      <tr>
        <td style="border: 1px solid #cccccf; padding: 8px;" class="scheduleslot">18:25 - 19:15</td>



            <td style="border: 1px solid #cccccf; padding: 8px;" colspan="2" rowspan="1" class="schedule">

<a href="https://za.pycon.org/news/closing/">Closing and more lightning talks</a>

<br/><a href="https://www.youtube.com/watch?v=kvrxYupLVSs">Watch on Youtube</a>

            </td>


      </tr>

  </tbody></table>




</%block>
