<%inherit file="../base.html"/>
<%namespace name="defs" file="../defs.html"/>

<%block name="content">


<p>
    PyConZA 2021 is done and dusted. Thank you for taking part! We hope you learned some cool things, and made some new connections, and had a great time!
</p>

<h2>How did we do?</h2>

<p>
    We would love to get your feedback on your PyConZA 2021 experience. The organizers had a blast bringing you the event and we want to make the next one better/faster/stronger. Share your thoughts and help us improve by filling in our survey. Thanks :)
</p>

${defs.call_to_action(href='https://forms.gle/zPES2eu69NMxXzib9',label='Fill in the survey')}

<h2>Swag!</h2>

<p>
    For those of you who signed up to receive swag, it should have already arrived. Winning :)
</p>

<p>
    We would like to give another big thank you to <a href="https://www.offerzen.com/">OfferZen</a> for helping us with all the deliveries.
</p>


<h2>The conference videos are now public</h2>

<p>
    Feel free to share the videos with your friends, colleagues and followers. You can get all the talk urls by following the link below
</p>

${defs.call_to_action(href='https://www.youtube.com/playlist?list=PLGjWYNrNnSucvur20tW8z4F59OsjaQpmH',label='Watch the talks')}


<h2>Spread the word</h2>

<p>
    If you are into that twitter life, please spread the goodness. Let us know about your favorite talk and/or share a picture of you with your PyConZA swag.
</p>
<p>
    Please use the hashtag #PyConZA2021
</p>




${defs.call_to_action(href='https://twitter.com/hashtag/PyConZA2021',label='See what people are saying')}




</%block>
