<%namespace name="defs" file="../defs.html"/>

<h2>The plan</h2>

<p>
  This is what our conference will look like:
</p>

<ul>
  <li> Live workshops prior to the main event </li>
  <li> 2 days of talks </li>
  <li> Sprints held over the weekends </li>
  <li> Live-streamed presentations, lightning talks and question/answer sessions </li>
  <li> Chat rooms for attendees to: catch up with fellow attendees, break away into specialized discussion groups (which was very  successful in 2020 and 2021), and receive live announcements </li>
  <li> Live sponsor-interactive events like raffles and competitions</li>
</ul>

<p>To see the full event details, or sign up for our newsletter, please visit our site: </p>

${defs.call_to_action(href='https://za.pycon.org/',label='Visit our site')}
