<%inherit file="base.html"/>
<%namespace name="defs" file="defs.html"/>

<%block name="content">
<p>
    PyConZA, part of the global PyCon initiative and the largest Python software
    conference in Africa, is a growing community-run conference in its 10th year
    that will be held on the 7th and 8th of October. We hope you will consider
    joining and/or sponsoring us.
</p>

<h2>Why sponsor?</h2>

<p>
    PyConZA is an excellent opportunity to connect and engage with some of the best
    minds in Africa and abroad. Expected attendance numbers are difficult to gauge
    at the moment, but given past years successes, we're very positive about
    attendance numbers this year. Especially as people will not have to travel
    from around the country and abroad. So we hope you will:
</p>

<ul>
    <li>Join a high-tech event with high visibility</li>
    <li>Learn and share success cases</li>
    <li>Connect your brand to open and collaborative free software initiatives etc etc blah blah</li>
    <li>Train your team</li>
    <li>Hire cutting-edge scientists, developers and tech-minded people</li>
    <li>Offer your services and products</li>
    <li>Get recognition for your brand in South Africa and abroad</li>
</ul>
<p>
    If you or your company are keen to sponsor or have any questions, please get in touch
</p>

${defs.call_to_action(href='mailto:sponsorship@za.pycon.org',label='Get in touch')}


<%include file="part_sponsorship_packages.html"/>
<%include file="part_the_plan.html"/>


</%block>
