<%namespace name="defs" file="defs.html"/>

<h2>
  Sponsorship packages
</h2>

<p>We have a few base packages to choose from, but these are not set in stone. We are more than happy to craft a package that suits your needs and budget</p>

<ul>
  <li>Open Source Week Diamond (R 75000) - Open source week is a collection of conferences all happening in the same week. This package gives maximum exposure to your brand</li>
  <li>PyConZa Gold (R 20000)</li>
  <li>PyConZa Silver (R 12500)</li>
  <li>PyConZa Patron (R 4000)</li>
</ul>

<p>
  Our sponsorship packages provide many ways in which we can showcase you as sponsors and help you to engage with our attendees, including:
</p>

<p>
  <li>Regular tweets about your company</li>
  <li>Your logo on our website, conference slides and all of our regular communications to attendees</li>
  <li>Guaranteed conference tickets for your company</li>
  <li>Logo placement between and/or during talks and/or on the platform PyConZA is presented on</li>
  <li>Press releases announcing your sponsorship</li>
  <li>Opportunities to host spot events during PyConZA</li>
</p>

${defs.call_to_action(href='https://za.pycon.org/sponsors/packages/',label='See full package details')}
