<%namespace name="defs" file="../../defs.html"/>

<h2>
  Remaining sponsorship packages
</h2>

<p>We have a few base packages to choose from, but these are not set in stone. We are more than happy to craft a package that suits your needs and budget</p>

<b>PyConZA Gold</b>
    <ul>
      <li>Price: 55000</li>
      <li>Total number available: 4</li>
    </ul>

<b>PyConZA Silver</b>
    <ul>
      <li>Price: 30000</li>
      <li>Total number available: 8</li>
    </ul>

  <b>PyConZA Patron</b>
    <ul>
      <li>Price: 8000</li>
      <li>Total number available: 8</li>
    </ul>

    <b>PyConZA Conference Dinner Addon</b>
    <ul>
      <li>Price: 65000</li>
      <li>Total number available: 1</li>
    </ul>

<b>PyConZA Platinum Lounge Addon</b>
    <ul>
      <li>Price: R20 000</li>
      <li>Total number available: 1</li>
    </ul>


</ul>

<p>
  Our sponsorship packages provide many ways in which we can showcase you as sponsors and help you to engage with our attendees, including:
</p>

<p>
  <li>Regular tweets about your company</li>
  <li>Your logo on our website, conference slides and all of our regular communications to attendees</li>
  <li>Guaranteed conference tickets for your company</li>
  <li>Logo placement between and/or during talks and/or on the platform PyConZA is presented on</li>
  <li>Press releases announcing your sponsorship</li>
  <li>Opportunities to host spot events during PyConZA</li>
  <li>Opportunities for both remote and in-person engagements during the event</li>
</p>

${defs.call_to_action(href='https://za.pycon.org/sponsors/packages/',label='See full package details')}
